/* LoginPage.css */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://t4.ftcdn.net/jpg/00/87/90/95/240_F_87909563_QVfeThgYiNlWg3HIGPGBilIEW67mtBf9.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
}

.form-container select {
  padding: 12px; /* Increased padding */
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease; /* Added transition for smooth animation */
}

.form-container select:focus {
  padding: 10px; /* Adjusted padding when focused */
  outline: none;
  box-shadow: 0 0 4px 1px #4CAF50;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card h2 {
  color: #333;
}

.card label {
  color: #333;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.card input[type="text"]:focus,
.card input[type="email"]:focus,
.card input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 4px 1px #4CAF50;
}

.card select:focus,
.card button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button[type="submit"]:hover {
  background-color: #666;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.select-dropdown {
  border: 1px solid #e5e7eb; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded */
  padding: 0.5rem; /* px-3, py-1 */
  width: 100%; /* w-full */
  margin-bottom: 1rem;
}

.select-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin-bottom: 1rem;
}