/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  button {
    padding: 5px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .google-button,
  .facebook-button {
    padding: 5px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .google-button:hover,
  .facebook-button:hover {
    background-color: #357ae8;
  } */

  /* LandingPage.css */

.landing-page {
  background-image: url('../../../landingpage.png');
  background-size: cover;
  background-position: center;


  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.content {
  text-align: center;
  margin-top: 50px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
